services:
    hailo-apps-core:
        image: hailo-apps-core
        container_name: hailo-apps-core
        network_mode: host
        build:
            context: .
            dockerfile: ./docker/core/Dockerfile
            args:
                - PYTHON_VERSION
                - UV_VERSION
        volumes:
            - $PWD/resources:/resources
        env_file:
            - .env
            - .secrets/.env
        privileged: true

    hailo-apps-api:
        image: hailo-apps-api
        container_name: hailo-apps-api
        network_mode: host
        build:
            context: .
            dockerfile: ./docker/api/Dockerfile
            args:
                - API_PORT
        volumes:
            - $PWD/resources:/resources
            - /run/udev:/run/udev:ro
        env_file:
            - .env
            - .secrets/.env
        restart: unless-stopped
        ports:
            - ${API_PORT}:${API_PORT}
        privileged: true
