services:
    hailo-apps-core:
        image: hailo-apps-core
        container_name: hailo-apps-core
        build:
            context: .
            dockerfile: ./docker/core/Dockerfile
        volumes:
            - $PWD/resources:/resources
        privileged: true
        networks:
            - hailo-apps

networks:
    hailo-apps:
        name: hailo-apps
        driver: bridge
