services:
    hailo-apps-devcontainer:
        image: hailo-apps-devcontainer
        container_name: hailo-apps-devcontainer
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
        volumes:
            - ..:/workspace:cached
            - ../resources/:/resources
            - /run/udev:/run/udev:ro
        privileged: true
        # This keeps the devcontainer running.
        entrypoint: ["tail", "-f", "/dev/null"]
        networks:
            - hailo-apps

networks:
    hailo-apps:
        name: hailo-apps
        driver: bridge
