services:
    hailo-apps-devcontainer:
        network_mode: host
        image: hailo-apps-devcontainer
        container_name: hailo-apps-devcontainer
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
        volumes:
            - ..:/workspace:cached
            - ../resources/:/resources
            - /run/udev:/run/udev:ro
        env_file:
            - ../.env
            - ../.secrets/.env
        privileged: true
        # This keeps the devcontainer running.
        entrypoint: ["tail", "-f", "/dev/null"]
